/* variable overrides */
$brand-primary: #e63131;

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
  color: $text-color;
  background-color: $gray-lighter;
}

#app-container{
  #header{
    margin: 0 -15px;
    position: fixed;
    z-index: 9;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 10px;
    background: white;
    border-bottom: 1px solid $gray-light;
    .logo-container{
      height: 100%;
      display: flex;
      align-items: center;
      img#logo{
        height: 35%;
      }
    }
  }
}
